{
    servers {
        protocols h1 h2 h3
    }
}

(common) {
    encode zstd gzip
}

{$ADGUARD_HOSTNAME} {
    import common
    # Port is set dynamically via ADGUARD_PORT in .env (defaults to 80, set to 3000 during setup wizard)
    reverse_proxy adguard:{$ADGUARD_PORT}
}

{$AIOMETADATA_HOSTNAME} {
    import common
    reverse_proxy aiometadata:3232
}

{$AIOSTREAMS_HOSTNAME} {
    import common
    reverse_proxy aiostreams:3000
}

{$BESZEL_HOSTNAME} {
    import common
    reverse_proxy beszel:8090
}

{$DISPATCHARR_HOSTNAME} {
    import common
    reverse_proxy dispatcharr:9191
}

{$FILEBROWSER_HOSTNAME} {
    import common
    reverse_proxy filebrowser:80
}

{$GHOSTFOLIO_HOSTNAME} {
    import common
    reverse_proxy ghostfolio:3333
}

{$HONEY_HOSTNAME} {
    import common
    reverse_proxy honey:4173
}

{$MEDIAFLOW_PROXY_HOSTNAME} {
    import common
    reverse_proxy mediaflow-proxy:8888
}

{$STIRLING_PDF_HOSTNAME} {
    import common
    reverse_proxy stirling-pdf:8080
}

{$UPTIME_KUMA_HOSTNAME} {
    import common
    reverse_proxy uptime-kuma:3001
}

{$WALLOS_HOSTNAME} {
    import common
    reverse_proxy wallos:80
}

{$WG_EASY_HOSTNAME} {
    import common
    reverse_proxy wg-easy:51821
}
