{$ADGUARD_HOSTNAME} {
    # First launch: set to adguard:3000, complete wizard, then restore to adguard:80
    reverse_proxy adguard:80
}

{$AIOMETADATA_HOSTNAME} {
    reverse_proxy aiometadata:3232
}

{$AIOSTREAMS_HOSTNAME} {
    reverse_proxy aiostreams:3000
}

{$BESZEL_HOSTNAME} {
    reverse_proxy beszel:8090
}

{$DISPATCHARR_HOSTNAME} {
    reverse_proxy dispatcharr:9191
}

{$FILEBROWSER_HOSTNAME} {
    reverse_proxy filebrowser:80
}

{$GHOSTFOLIO_HOSTNAME} {
    reverse_proxy ghostfolio:3333
}

{$HONEY_HOSTNAME} {
    reverse_proxy honey:4173
}

{$MEDIAFLOW_PROXY_HOSTNAME} {
    reverse_proxy mediaflow-proxy:8888
}

{$UPTIME_KUMA_HOSTNAME} {
    reverse_proxy uptime-kuma:3001
}

{$WALLOS_HOSTNAME} {
    reverse_proxy wallos:80
}
